<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Axes-and-Tags</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=sentient@200,201,300,301,400,401,500,501,700,701&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/tailwind.config.js"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" href="/static/favicon.ico" />
  </head>
  <body>
    <div id="app" class="container mx-auto h-screen w-screen">
      <div class="flex flex-col gap-6 justify-center items-center h-full w-full mx-auto max-w-4xl">
        <div
          class="flex flex-col items-center justify-center bg-gradient-to-r from-rose-500 via-blue-600 to-rose-500 bg-clip-text bg-bottom-right text-transparent"
        >
          <h1
            class="text-8xl font-extralight tracking-tight"
            style="font-family: var(--font-serif)"
          >
            Axes-and-Tags
          </h1>
          <h4 class="text-4xl italic" style="font-family: var(--font-serif)">
            generative design galleries
          </h4>
        </div>
        <div class="relative w-full transition-all max-h-fit rounded-3xl">
          <textarea
            id="conceptInput"
            rows="8"
            class="transition-all w-full h-32 p-5 pb-20 text-lg pr-16 mb-0 placeholder:text-gray-500 outline-none focus:ring-8 focus:ring-pink-500/30 border-2 focus:border-indigo-500 rounded-3xl hover:border-indigo-500/50 hover:ring-indigo-500/30"
            placeholder="Describe what you'd like to explore..."
          ></textarea>
          <button
            id="generateButton"
            class="bg-gradient-to-tl from-rose-400 to-indigo-600 text-white text-md p-2 px-4 rounded-3xl absolute right-1.5 bottom-3 cursor-pointer transition-all hover:scale-105 border"
          >
            Generate
          </button>
          <div id="domains" class="flex flex-row gap-4 absolute bottom-1 left-0 w-fit"></div>
        </div>
        <a
          href="/tutorial"
          class="bg-indigo-200/30 text-indigo-500 hover:bg-indigo-100 transition-all duration-300 text-lg py-4 px-6 rounded-xl"
        >
          How does this work?
        </a>
      </div>
    </div>
    <script src="/static/start_scripts.js"></script>
  </body>
</html>
