<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/tailwind.config.js"></script>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div id="app" class="container h-full w-full">
      <div class="flex flex-col gap-6 justify-center items-center h-screen w-screen mx-auto">
        <h1 class="text-6xl font-light text-gray-900 mb-8 font-sans tracking-tight">
          Design Galleries
        </h1>
        <div class="relative w-3/5">
          <input
            type="text"
            class="transition-all w-full p-6 rounded-full border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent focus:outline-none hover:border-blue-500 hover:bg-blue-50/50 text-lg pr-16 placeholder:text-gray-400 shadow-sm backdrop-blur-sm bg-white/80"
            placeholder="What would you like to explore?"
          />
          <button
            id="generateButton"
            class="bg-blue-500 text-white text-lg p-4 rounded-full absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer transition-all hover:bg-blue-400 hover:scale-105"
          >
            Generate
          </button>
        </div>
        <div id="domains" class="flex flex-row gap-4">
            
        </div>
      </div>
    </div>
    <script src="/static/start_scripts.js"></script>
  </body>
</html>
